* {
    box-sizing: border-box;
}

label {
    text-align: center;
    max-height: 100px;
}

header {
    margin-top: 5%;
}

form {
    border-style: solid;
    margin-right: 2%;
    margin-bottom: 2%;
}

ul {
    width: 100%;
}

h2 {
    text-align: center;
}

.fill-parent {
    height: 100%;
    width: 100%;
}


.ansButton {
    display: block;
    width: 95%;
    height: 30px;
    margin: 5px;
}

.hidden {
    display: none;
}

.center-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-style {
    list-style: none;
    width: 100%;
}

.game-info {
    width: 40%;
}

.adjustable-fill {
    height: 100%;
    width: 95%;
}

.question {
    text-align: center;
    display: block;
}

.correct {
    color: lightgreen;
}

@media screen and (min-width: 600px) {
    .adjustable-fill {
        height: 100%;
        width: 80%;
    }
    header {
        margin-top: 3%;
    }
    
}

@media screen and (min-width: 1000px) {
    .adjustable-fill {
        height: 40%;
        width: 40%;
    }

    header {
        margin-top: 0%;
    }
    
}