* {
    box-sizing: border-box;
}

body {
    background-image: url("images/cork-board.png");
    color: #00387e;
}

label {
    text-align: center;
    max-height: 100px;
}

header {
    margin-top: 5%;
}

form {
    background-color: white;
    margin-right: 2%;
    margin-bottom: 2%;
    border-radius: 15px;
    color: black;
    padding: 10px;
    border: 1px solid #808080;
    box-shadow:  -1px 1px #808080,
         -2px 2px #808080,
         -3px 3px #808080,
         -4px 4px #808080,
         -5px 5px #808080,
         -6px 6px #808080,
         -7px 7px #808080;
}


ul {
    width: 100%;
    padding: 0px;;
}

h2 {
    text-align: center;
    font-size: 16px;
}

img {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.fill-parent {
    height: 100%;
    width: 100%;
}


.ansButton {
    display: block;
    width: 95%;
    height: 30px;
    margin: 5px 0px 5px 10px;
    background-color: #00387e;
    color: antiquewhite;
    border-radius: 5px;
    font-size: 14px;
}

.hidden {
    display: none;
}

.center-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-style {
    list-style: none;
    width: 100%;
}

.adjustable-fill {
    height: 100%;
    width: 95%;
}

.question {
    text-align: center;
    display: block;
}

.correct {
    background-color: rgb(75, 240, 75);
    color: black;
}

.game-info {
    display: inline-block;
    width: 50%;
    font-size: 18pt;
}

#game-info {
    margin-right: 2%;
}

.adjustable-width {
    width: 95%;
}

#question {
    text-align: left;
}

#score{
    text-align: right;
}

#ans-qual {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.correct-selected {
    background-color: rgb(75, 240, 75);
    border-style: 5px solid forestgreen;
    color: black;
}

.selected {
    background-color: lightsalmon;
    border-style: 5px solid red;
    color: black;
}

@media screen and (min-width: 600px) {
    .adjustable-fill {
        height: 100%;
        width: 80%;
    }

    .adjustable-width {
        width: 80%;
    }

    header {
        margin-top: 3%;
    }
    
}

@media screen and (min-width: 1000px) {
    .adjustable-fill {
        height: 60%;
        width: 40%;
    }

    .adjustable-width {
        width: 40%;
    }

    header {
        margin-top: 0%;
    }
    
    body {
        height: 100%;
    }
    
}
