* {
    box-sizing: border-box;
}

label {
    text-align: center;
    max-height: 100px;
}

header {
    margin-top: 5%;
}

form {
    border-style: solid;
}

ul {
    width: 100%;
}

.fill-parent {
    height: 100%;
    width: 100%;
}


.ansButton {
    display: block;
    width: 95%;
    height: 30px;
    margin: 5px;
}

.hidden {
    display: none;
}

.center-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-style {
    list-style: none;
    width: 100%;
}

.game-info {
    width: 40%;
}

.adjustable-fill {
    height: 100%;
    width: 95%;
}
